/.built_*
/.unpacked_*
/ChangeLog.svn2cl
/Makefile
/Makefile.in
/libtool
/compile
/aclocal.m4
/autom4te.cache
cddlib/.DS_Store.1
cddlib/ChangeLog[!!-~](Autosaved)
cddlib/Makefile
cddlib/Makefile.in
cddlib/aclocal.m4
cddlib/autom4te.cache
cddlib/config.guess
cddlib/config.log
cddlib/config.status
cddlib/config.sub
cddlib/configure
cddlib/depcomp
cddlib/doc/*.aux
cddlib/doc/*.bbl
cddlib/doc/*.blg
cddlib/doc/*.dvi
cddlib/doc/*.log
cddlib/doc/*.toc
cddlib/doc/.DS_Store.1
cddlib/examples-ml/.DS_Store.1
cddlib/install-sh
cddlib/lib-src-gmp/.DS_Store.1
cddlib/lib-src-gmp/.deps
cddlib/lib-src-gmp/Makefile
cddlib/lib-src-gmp/Makefile.in
cddlib/lib-src/.DS_Store.1
cddlib/lib-src/.deps
cddlib/lib-src/Makefile
cddlib/lib-src/Makefile.in
cddlib/libtool
cddlib/ltmain.sh
cddlib/missing
cddlib/mkinstalldirs
cddlib/src-gmp/.deps
cddlib/src-gmp/.gdb_history
cddlib/src-gmp/Makefile
cddlib/src-gmp/Makefile.in
cddlib/src-gmp/adjacency_gmp
cddlib/src-gmp/allfaces_gmp
cddlib/src-gmp/cdd_both_reps_gmp
cddlib/src-gmp/fourier_gmp
cddlib/src-gmp/lcdd_gmp
cddlib/src-gmp/projection_gmp
cddlib/src-gmp/redcheck_gmp
cddlib/src-gmp/scdd_gmp
cddlib/src-gmp/testcdd1_gmp
cddlib/src-gmp/testcdd2_gmp
cddlib/src-gmp/testlp1_gmp
cddlib/src-gmp/testlp2_gmp
cddlib/src-gmp/testlp3_gmp
cddlib/src-gmp/testshoot_gmp
cddlib/src-mathlink2/.DS_Store.1
cddlib/src-mathlink2/.gdb_history
cddlib/src/.deps
cddlib/src/Makefile
cddlib/src/Makefile.in
cddlib/src/adjacency
cddlib/src/allfaces
cddlib/src/cdd_both_reps
cddlib/src/fourier
cddlib/src/lcdd
cddlib/src/projection
cddlib/src/redcheck
cddlib/src/scdd
cddlib/src/testcdd1
cddlib/src/testcdd2
cddlib/src/testlp1
cddlib/src/testlp2
cddlib/src/testlp3
cddlib/src/testshoot
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/dest
/install-sh
lidia/Makefile
lidia/autom4te.cache
lidia/config.log
lidia/config.status
lidia/doc/Makefile
lidia/examples/Makefile
lidia/examples/base/.deps
lidia/examples/base/Makefile
lidia/examples/ec_order/.deps
lidia/examples/ec_order/Makefile
lidia/examples/elliptic_curves/.deps
lidia/examples/elliptic_curves/Makefile
lidia/examples/finite_fields/.deps
lidia/examples/finite_fields/Makefile
lidia/examples/gec/.deps
lidia/examples/gec/Makefile
lidia/examples/lattices/.deps
lidia/examples/lattices/Makefile
lidia/examples/linear_algebra/.deps
lidia/examples/linear_algebra/Makefile
lidia/examples/number_fields/.deps
lidia/examples/number_fields/Makefile
lidia/include/LiDIA
lidia/include/config.h
lidia/library/Makefile
lidia/library/base/.deps
lidia/library/base/Makefile
lidia/library/base/bytes_to_int_flag_generator
lidia/library/ec_order/.deps
lidia/library/ec_order/Makefile
lidia/library/elliptic_curves/.deps
lidia/library/elliptic_curves/Makefile
lidia/library/finite_fields/.deps
lidia/library/finite_fields/Makefile
lidia/library/gec/.deps
lidia/library/gec/Makefile
lidia/library/lattices/.deps
lidia/library/lattices/Makefile
lidia/library/linear_algebra/.deps
lidia/library/linear_algebra/Makefile
lidia/library/number_fields/.deps
lidia/library/number_fields/Makefile
lidia/libtool
lidia/src/base/interfaces
/ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
/missing
