* text=auto !eol
/.svn2cl-authors -text
/4ti2-1.4.tar.gz -text
/4ti2-1.5.1.tar.gz -text
/4ti2-1.5.2.tar.gz -text
/4ti2-1.5.3-prerelease-2013-07-20.tar.gz -text
/4ti2-1.5.3-prerelease-2013-08-02.tar.gz -text
/cddlib-0.94f+sage-patches-p8+latte-build-patch.tar.gz -text
/cddlib-094f.tar.gz -text
cddlib/AUTHORS -text
cddlib/COPYING -text
cddlib/ChangeLog -text
cddlib/HISTORY -text
cddlib/INSTALL -text
cddlib/Makefile.am -text
cddlib/NEWS -text
cddlib/README -text
cddlib/autogen.sh -text
cddlib/configure.ac -text
cddlib/doc/cddlibman.pdf -text
cddlib/doc/cddlibman.ps -text
cddlib/doc/cddlibman.tex -text
cddlib/doc/html.sty -text
cddlib/examples-ext/ccc4.ext -text
cddlib/examples-ext/ccc5.ext -text
cddlib/examples-ext/ccc6.ext -text
cddlib/examples-ext/ccp4.ext -text
cddlib/examples-ext/ccp5.ext -text
cddlib/examples-ext/ccp6.ext -text
cddlib/examples-ext/cyclic10-4.ext -text
cddlib/examples-ext/cyclic12-6.ext -text
cddlib/examples-ext/cyclic14-8.ext -text
cddlib/examples-ext/cyclic16-10.ext -text
cddlib/examples-ext/irbox20-4.ext -text
cddlib/examples-ext/irbox200-4.ext -text
cddlib/examples-ext/prodst62.ext -text
cddlib/examples-ext/reg24-5.ext -text
cddlib/examples-ext/reg600-5.ext -text
cddlib/examples-ine/allzero.ine -text
cddlib/examples-ine/cross10.ine -text
cddlib/examples-ine/cross12.ine -text
cddlib/examples-ine/cross6.ine -text
cddlib/examples-ine/cross8.ine -text
cddlib/examples-ine/cube10.ine -text
cddlib/examples-ine/cube12.ine -text
cddlib/examples-ine/cube6.ine -text
cddlib/examples-ine/cube8.ine -text
cddlib/examples-ine/cubocta.ine -text
cddlib/examples-ine/ex1.ine -text
cddlib/examples-ine/infeas.ine -text
cddlib/examples-ine/integralpoints.ine -text
cddlib/examples-ine/kkd18_4.ine -text
cddlib/examples-ine/kkd27_5.ine -text
cddlib/examples-ine/kkd38_6.ine -text
cddlib/examples-ine/nonfull.ine -text
cddlib/examples-ine/origin.ine -text
cddlib/examples-ine/reg24-5.ine -text
cddlib/examples-ine/sampleh1.ine -text
cddlib/examples-ine/sampleh2.ine -text
cddlib/examples-ine/sampleh3.ine -text
cddlib/examples-ine/sampleh4.ine -text
cddlib/examples-ine/sampleh5.ine -text
cddlib/examples-ine/sampleh6.ine -text
cddlib/examples-ine/sampleh7.ine -text
cddlib/examples-ine/sampleh8.ine -text
cddlib/examples-ine/samplelp.ine -text
cddlib/examples-ine/samplelp1.ine -text
cddlib/examples-ine/samplelp2.ine -text
cddlib/examples-ine/samplelp3.ine -text
cddlib/examples-ine/samplelp4.ine -text
cddlib/examples-ine3d/cube3.ine -text
cddlib/examples-ine3d/cubocta.ine -text
cddlib/examples-ine3d/dodeca.ine -text
cddlib/examples-ine3d/grcubocta.ine -text
cddlib/examples-ine3d/hexocta.ine -text
cddlib/examples-ine3d/icododeca.ine -text
cddlib/examples-ine3d/rcubocta.ine -text
cddlib/examples-ine3d/rhomtria.ine -text
cddlib/examples-ml/Combinatorica5.m -text
cddlib/examples-ml/ExtendGraphics30.tar -text
cddlib/examples-ml/IOPolyhedra.m -text
cddlib/examples-ml/PolytopeSkeleton.m -text
cddlib/examples-ml/README.cddmathlink -text
cddlib/examples-ml/UnfoldPolytope.m -text
cddlib/examples-ml/cddml-DietProblem.nb -text
cddlib/examples-ml/cddml-PolytopeSkeleton.nb -text
cddlib/examples-ml/cddml-Zonotope.m -text
cddlib/examples-ml/cddml-Zonotope.nb -text
cddlib/examples-ml/cddml-notebook.nb -text
cddlib/examples/project1.ine -text
cddlib/examples/project1res.ine -text
cddlib/examples/project2.ine -text
cddlib/examples/project2res.ine -text
cddlib/examples/redcheck.ext -text
cddlib/examples/sample.ine -text
cddlib/examples/sampleh1.ine -text
cddlib/examples/sampleh2.ine -text
cddlib/examples/sampleh3.ine -text
cddlib/examples/sampleh4.ine -text
cddlib/examples/sampleh5.ine -text
cddlib/examples/sampleh6.ine -text
cddlib/examples/sampleh7.ine -text
cddlib/examples/sampleh8.ine -text
cddlib/examples/samplelp.ine -text
cddlib/examples/samplelp.testlp1_gmp_output -text
cddlib/examples/samplelp.testlp1_output -text
cddlib/examples/samplelp1.ine -text
cddlib/examples/samplelp2.ine -text
cddlib/examples/samplelp3.ine -text
cddlib/examples/samplelp4.ine -text
cddlib/examples/samplelp_big.ine -text
cddlib/examples/samplelp_big_dualinfeas.ine -text
cddlib/examples/samplev1.ext -text
cddlib/examples/samplev2.ext -text
cddlib/examples/samplev3.ext -text
cddlib/lib-src-gmp/Makefile.am -text
cddlib/lib-src-gmp/cdd.h -text
cddlib/lib-src-gmp/cdd_f.h -text
cddlib/lib-src-gmp/cddcore.c -text
cddlib/lib-src-gmp/cddcore_f.c -text
cddlib/lib-src-gmp/cddio.c -text
cddlib/lib-src-gmp/cddio_f.c -text
cddlib/lib-src-gmp/cddlib.c -text
cddlib/lib-src-gmp/cddlib_f.c -text
cddlib/lib-src-gmp/cddlp.c -text
cddlib/lib-src-gmp/cddlp_f.c -text
cddlib/lib-src-gmp/cddmp.c -text
cddlib/lib-src-gmp/cddmp.h -text
cddlib/lib-src-gmp/cddmp_f.c -text
cddlib/lib-src-gmp/cddmp_f.h -text
cddlib/lib-src-gmp/cddproj.c -text
cddlib/lib-src-gmp/cddproj_f.c -text
cddlib/lib-src-gmp/cddtypes.h -text
cddlib/lib-src-gmp/cddtypes_f.h -text
cddlib/lib-src-gmp/random.c -text
cddlib/lib-src-gmp/random.h -text
cddlib/lib-src-gmp/setoper.c -text
cddlib/lib-src-gmp/setoper.h -text
cddlib/lib-src/Makefile.am -text
cddlib/lib-src/cdd.h -text
cddlib/lib-src/cddcore.c -text
cddlib/lib-src/cddio.c -text
cddlib/lib-src/cddlib.c -text
cddlib/lib-src/cddlp.c -text
cddlib/lib-src/cddmp.c -text
cddlib/lib-src/cddmp.h -text
cddlib/lib-src/cddproj.c -text
cddlib/lib-src/cddtypes.h -text
cddlib/lib-src/random.c -text
cddlib/lib-src/random.h -text
cddlib/lib-src/setoper.c -text
cddlib/lib-src/setoper.h -text
cddlib/src-gmp/Makefile.am -text
cddlib/src-gmp/adjacency.c -text
cddlib/src-gmp/allfaces.c -text
cddlib/src-gmp/cdd_both_reps.c -text
cddlib/src-gmp/fourier.c -text
cddlib/src-gmp/lcdd.c -text
cddlib/src-gmp/projection.c -text
cddlib/src-gmp/redcheck.c -text
cddlib/src-gmp/simplecdd.c -text
cddlib/src-gmp/testcdd1.c -text
cddlib/src-gmp/testcdd2.c -text
cddlib/src-gmp/testlp1.c -text
cddlib/src-gmp/testlp2.c -text
cddlib/src-gmp/testlp3.c -text
cddlib/src-gmp/testshoot.c -text
cddlib/src-gmp/testuniq.c -text
cddlib/src-mathlink/INSTALL -text
cddlib/src-mathlink/Makefile -text
cddlib/src-mathlink/cddmathlink.c -text
cddlib/src-mathlink/cddmathlink.tm -text
cddlib/src-mathlink/cddmlio.c -text
cddlib/src-mathlink/cddmlio.h -text
cddlib/src-mathlink/mathlink.h -text
cddlib/src-mathlink/mathlink.h.v1.6 -text
cddlib/src-mathlink2/INSTALL -text
cddlib/src-mathlink2/Makefile -text
cddlib/src-mathlink2/cddmathlink.c -text
cddlib/src-mathlink2/cddmathlink.tm -text
cddlib/src-mathlink2/cddml-DietProblem2.m -text
cddlib/src-mathlink2/cddml-DietProblem2.nb -text
cddlib/src-mathlink2/cddml-PolytopeSkeleton2.nb -text
cddlib/src-mathlink2/cddml-Zonotope.nb -text
cddlib/src-mathlink2/cddmlio.c -text
cddlib/src-mathlink2/cddmlio.h -text
cddlib/src-mathlink2/mathlink.h -text
cddlib/src/Makefile.am -text
cddlib/src/Makefile.in -text
cddlib/src/adjacency.c -text
cddlib/src/allfaces.c -text
cddlib/src/cdd_both_reps.c -text
cddlib/src/fourier.c -text
cddlib/src/lcdd.c -text
cddlib/src/minkowski.c -text
cddlib/src/projection.c -text
cddlib/src/redcheck.c -text
cddlib/src/redexter.c -text
cddlib/src/simplecdd.c -text
cddlib/src/testcdd1.c -text
cddlib/src/testcdd2.c -text
cddlib/src/testlp1.c -text
cddlib/src/testlp2.c -text
cddlib/src/testlp3.c -text
cddlib/src/testshoot.c -text
cddlib/src/testuniq.c -text
/glpk-4.47.tar.gz -text
/gmp-4.2.4.tar.gz -text
/gmp-5.1.2.tar.gz -text
/lidia-FF-2.3.0.tar.gz -text
/lidia-LA-2.3.0.tar.gz -text
/lidia-base-2.3.0+lattepatches.tar.gz -text
/ntl-5.5.2.tar.gz -text
